# Build and output directories
**/target/
**/build/
**/dist/

# NetBeans local and private settings
**/nbproject/private/
**/nbbuild/
**/.nb-gradle/
**/.netbeans_automatic_build
**/nb-configuration.xml

# Custom run configurations 
# **/nbactions.xml

# Maven plugin outputs
dependency-reduced-pom.xml

# NetBeans cache
.nb-cache/
.netbeans/

# System files
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Ehthumbs.db
Desktop.ini

# Ignore all downloaded/compiled JAR files
*.jar